<footer class="px-10 mt-12">
  <div class="flex justify-center mb-4">
    <div class="hidden sm:block w-1/2">
      <h6 class="text-center font-bold text-sm mb-3">Be a part of the event!</h6>
      <ul class="text-xs text-primary">
        <li class="text-center"><img class="inline w-3" src="/src/assets/images/phone-solid.svg" alt="Google plus"> / <img class="inline w-3" src="/src/assets/images/whatsapp-brands-solid.svg" alt="Google plus"> 435-945-125</li>

        <li class="text-center">
          <img class="inline w-3" src="/src/assets/images/envelope-solid.svg" alt="Google plus">
          <a class="" href="mailto:part@cibersecure.com"
            >part@cibersecure.com</a
          >
        </li>
      </ul>
    </div>

    <div class="hidden sm:block w-1/2">
      <h6 class="text-center font-bold text-sm mb-3">Need more info?</h6>
      <ul class="text-xs text-primary">
        <li class="text-center"><img class="inline w-3" src="/src/assets/images/phone-solid.svg" alt="Google plus"> / <img class="inline w-3" src="/src/assets/images/whatsapp-brands-solid.svg" alt="Google plus"> 764-312-745</li>

        <li class="text-center">
          <img class="inline w-3" src="/src/assets/images/envelope-solid.svg" alt="Google plus">
          <a class="" href="mailto:info@cibersecure.com"
            >info@cibersecure.com</a
          >
        </li>
      </ul>
    </div>

    <div class="block sm:hidden">
      <h6 class="text-center font-bold text-sm mb-3">Need more info or want to participate?</h6>
      <ul class="text-xs text-primary">
        <li class="text-center"><img class="inline w-3" src="/src/assets/images/phone-solid.svg" alt="Google plus"> / <img class="inline w-3" src="/src/assets/images/whatsapp-brands-solid.svg" alt="Google plus"> 764-312-745</li>

        <li class="text-center">
          <img class="inline w-3" src="/src/assets/images/envelope-solid.svg" alt="Google plus">
          <a class="" href="mailto:info@cibersecure.com"
            >info@cibersecure.com</a
          >
          /
          <a class="" href="mailto:part@cibersecure.com"
            >part@cibersecure.com</a
          >
        </li>
      </ul>
    </div>
  </div>

  <hr class="w-3/4 m-auto"/>

  <nav class="flex flex-col items-center justify-center sm:flex-row bg-info text-primary my-4">
    <a class="font-roboto text-xl flex flex-row font-extrabold h-fit w-fit items-center justify-center" href="/src/index.html">
      <img class="w-6 mr-3" src="/src/assets/images/shield-solid.svg" alt="Shield">
      <span class="font-doto mr-2">Cyber</span> Secure
    </a>

    <ul class="hidden sm:flex text-xs mx-10">
      <li class="mr-10">
        <a class="" id="indexLink" href="/src/index.html">Home</a>
      </li>

      <li class="mr-10">
        <a class="" id="speakersLink" href="/src/index.html">Speakers</a>
      </li>

      <li class="mr-10">
        <a class="" id="infoLink" href="/src/info.html">Info</a>
      </li>

      <li class="mr-4">
        <a class="" id="otherLink" href="#">Contact</a>
      </li>
    </ul>

    <ul class="flex mt-5 sm:mt-0">
      <li class="">
        <img class="w-5" src="/src/assets/images/google-plus-g-brands-solid.svg" alt="Google plus">
      </li>

      <li class="mx-4">
        <img class="w-2" src="/src/assets/images/facebook-f-brands-solid.svg" alt="Facebook">
      </li>

      <li class="">
        <img class="w-4" src="/src/assets/images/twitter-brands-solid.svg" alt="Twitter">
      </li>
    </ul>
  </nav>
</footer>
