<header class="header">
  <nav
    class="navbar navbar-expand-md navbar-light bg-light px-5 py-3"
    id="header-bg-changer"
  >
    <a class="navbar-brand text-primary fw-bold fs-3" href="/src/index.html">
      <i class="fa-solid fa-shield fs-2 me-2"></i>
      <span class="header__title--dot">Cyber</span> Secure
    </a>
    <button
      class="navbar-toggler collapsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-collapsable"
      aria-controls="navbar-collapsable"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="navbar-collapse collapse"
      id="navbar-collapsable"
    >
      <ul class="navbar-nav w-100 d-flex justify-content-end fs-6">
        <li class="nav-item me-4">
          <a class="nav-link link-primary" id="indexLink" href="/src/index.html">Home</a>
        </li>

        <li class="nav-item me-4">
          <a class="nav-link link-primary" id="speakersLink" href="/src/speakers.html">Speakers</a>
        </li>

        <li class="nav-item me-4">
          <a class="nav-link link-primary" id="infoLink" href="/src/info.html">Info</a>
        </li>

        <li class="nav-item">
          <a class="nav-link link-primary" id="otherLink" href="/src/contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
