<header class="header border-b-solid border-b-light border-b-2">
  <nav
    class="flex flex-row flex-nowrap justify-start px-12 py-5 bg-info text-primary"
  >
    <a
      class="font-roboto text-xl flex flex-row font-extrabold h-fit"
      href="/src/index.html"
    >
      <img
        class="w-6 mr-3"
        src="/src/assets/images/shield-solid.svg"
        alt="Shield"
      />
      <span class="font-doto mr-2">Cyber</span> Secure
    </a>

    <div class="flex flex-grow items-center justify-end text-xs">
      <button
        class="md:hidden py-2 px-4 border-solid border-grey focus:border-black border focus:border-4 rounded-lg"
        type="button"
      >
        <img class="w-5" src="/src/assets/images/bars-solid.svg" alt="Menu" />
      </button>
      <ul class="hidden md:flex justify-end w-full">
        <li class="mr-10">
          <a id="indexLink" href="/src/index.html">Home</a>
        </li>

        <li class="mr-10">
          <a id="speakersLink" href="/src/index.html">Speakers</a>
        </li>

        <li class="mr-10">
          <a id="infoLink" href="/src/info.html">Info</a>
        </li>

        <li class="mr-4">
          <a id="otherLink" href="/src/contestants.html">Contestants (AI Page)</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
